html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

textarea, input {
  border: 1px solid #808080;
  border-radius: 2px;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

:root{
  --main-bg: #0b2664;
  --white: #fff; 
  --black: #000000;
}

html {
  height: 100%;
}
        
body {
  line-height: 1;
  height: 100%;
  font: 16px/1.5em bold italic serif;
  text-align: center;
  -webkit-perspective: 700px;
  perspective: 700px;
  background-color: var(--black);
  overflow: hidden;
  scrollbar-color: var(--main-bg) var(--white);
}

::-webkit-scrollbar {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--black)), to(#155bff));
  background: linear-gradient(to top, var(--black), #155bff);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #8a2be2;
}

#hide-navbar:hover, .hide-navmenu:hover, .paginas:hover, #navbar:hover {
  -webkit-animation: rotar 1.5s infinite;
  animation: rotar 1.5s infinite;
}

@-webkit-keyframes rotar {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  20% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  40% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  60% {-webkit-transform: rotate(10deg);transform: rotate(10deg);}
  80% {-webkit-transform: rotate(-5deg);transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@keyframes rotar {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  20% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  40% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  60% {-webkit-transform: rotate(10deg);transform: rotate(10deg);}
  80% {-webkit-transform: rotate(-5deg);transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  to  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  to  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-scrolled {
  color: rgb(66, 189, 219);
  border-bottom: 4px solid rgb(66, 189, 219);
  padding-bottom: 4px;
}

#hide-menu {
  top: 19.5%;
  right: 0;
  position: fixed;
  height: 170%;
  width: 40%;
  z-index: -100;
}

#hide-menu2 {
  top: 10%;
  height: auto;
  width: 50%;
  z-index: -100;
  background-color: var(--main-bg);
  border: 0.3em solid var(--white);
  border-radius: 1em;
}

#hide-navbar { 
  width: 1.9em;
  margin: auto;
}

.hide-navmenu {
  display: grid;
  font-size: 1.5em;
  letter-spacing: 2px;
  grid-area: 4em 4em 4em ;
  margin: 10%;
  color:var(--white);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  text-align: center;
}

#contenedor {
  display: grid;
  overflow-y: scroll;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  height: 100%;
  grid-template-columns: 2% repeat(8, 1fr) 2%;
  grid-template-rows: 10% 24% 43% 23% 68% 23% 4% 22% 30% 10% 24% 91%;
}

#contenedor.is-flipped {
  -webkit-transform: translate(-20%) rotateY(53deg);
  transform: translate(-20%) rotateY(53deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#header {
  display: grid;
  position: sticky;
  top: 0;
  background: var(--main-bg);
  color: var(--white);
  grid-area: 1/1/1/11;
  z-index: 100;
}

#enlace {
  display: grid;
  font-size: 30px;
  letter-spacing: 2px;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0.6em;
  margin:auto;
  color:var(--white) ;
}

svg {
  margin: auto;
}

#navbar { 
  width: 0.8em;
  margin: auto;
  margin-left: 0.3em;
}

.navbar-line {
  height: 5px;
  background: var(--white);
  margin: 7px 0px 7px 0px;
  border-radius: 25px;
}

#intro {
  display: grid;
  grid-area: 2/1/2/11;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
  font-size: 2.5em;
  color: var(--white);
  grid-template-rows: 5em;
  z-index: 1;
  -webkit-animation: anim1;
  animation: anim1;
}

#intro-head {
  display: grid;
  grid-area: 2/1/2/11;
  -webkit-box-align: end;
  align-items: end;
  justify-items: center;
  font-size: 1.7em;
  color: var(--white);
  z-index:1;
  grid-template-rows: 7.5em;
  -webkit-animation: anim1;
  animation: anim1;
}

#intro_2 {
  display: grid;
  background: url(https://i.ibb.co/cL1VLkb/wallpaper-797205.jpg) no-repeat;
  background-size:100% 100%;
  grid-area: 2/1/5/11;
}

#contenedor-flecha {
  display: grid;
  grid-area: 4/1/4/11;
  justify-items: center;
  color: var(--white);
}

#flecha {
  display: grid;
  grid-template-columns: 3em;
}

#texto-flecha {
  display: grid;
  font-size: 1.5em;
  margin-right: 0.8em;
}

#contenedor-card {
  display: grid;
  background-color: var(--white);
  grid-area: 5/1/7/11;
  grid-template-columns: auto auto auto;
  -webkit-animation: anim2;
  animation: anim2;
}

.card {
  display: grid;
  grid-template-rows: 8em 8em;
  grid-template-columns: 13em;
  border-radius: 18px;
  background: var(--main-bg);
  text-align: center;
  margin: auto;
  border: 0.3em solid var(--main-bg);
  border-radius: 1em;
  -webkit-transition:  0.5s ease;
  transition:  0.5s ease;
  cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-image {
  background: url(https://i.ibb.co/LnsrZr3/Sin-t-tulo-1.jpg) no-repeat;
  background-size:100% 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-text {
  margin: auto;
  color: var(--white);
}

#sobre-mi {
  display: grid;
  background-color: var(--black);
  color: var(--white);
  grid-area: 7/1/12/11;
}

#foto {
  display: grid;
  grid-area: 8/2/8/2;
  background: url(https://i.ibb.co/TMkzpWc/foto-cv.jpg) no-repeat;
  background-size: 100% 100%;
  margin-left: 1.4em;
}

#perfil-header {
  display: grid;
  font-size: 20px;
  grid-area: 8/3/9/11;
  color: var(--white);
  margin-left: 4em;
  margin-right: 4em; 
  -webkit-animation: anim1; 
  animation: anim1;
}

#perfil-body {
  display: grid;
  text-align: center;
  justify-items: start;
  font-size: 20px;
  grid-area: 9/2/9/5;
  color: var(--white);
  margin-top: 0.5em;
}

#contenedor-lenguaje-titulo {
  display: grid;
  font-size: 20px;
  color: var(--white);
  margin-top: -4em;
  margin-left: 2em;
  -webkit-box-align: center;
  align-items: center;
  text-align: start;
  grid-area: 10/1/10/11;
  grid-template-columns: 16em 10.2em 10em auto;
}

#contenedor-lenguajes {
  display: grid;
  grid-area: 11/1/11/11;
  font-size: 1em;
  color: var(--white);
  -webkit-box-align: start;
  align-items: start;
  grid-template-columns: 18em auto auto auto;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin-top: -3em;
  margin-left: 1.2em;
}

#lenguajes {
  display: grid;
  grid-template-columns: 5em 5em 0;
}

#lenguajes-4 {
  display: grid;
  grid-template-columns: 7em 7em 0;
}

#contacto-background {
  display: grid;
  grid-area: 12/1/12/11;
  background: url(https://i.ibb.co/LnsrZr3/Sin-t-tulo-1.jpg) no-repeat;
  background-size: 100% 100%;
}

#enviar-mensaje {
  color: white;
  display: grid;
  font-size: 2em;
  background-color: var(--main-bg);
  border: 0.3em solid var(--main-bg);
  border-radius: 1em;
  width: 7em;
  height: 2em;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
}

.main-btn {
  grid-area: 5/1/5/1;
  width: 50%;
  color: var(--white);
  background-color: var(--main-bg);
  border: none;
  border-radius: 1em;
}

textarea {
  height: 100%;
  width: 212%;
  resize: none;
}

#contacto {
  display: grid;
  grid-area: 11/1/12/11;
  background-color: var(--white);
  margin: 7.5em;
  margin-top: 14em;
  margin-bottom: -32em;
  margin-left: 15em;
  margin-right: 7em;
  -webkit-box-align: center;
  align-items: center;
}

#contacto-contenedor {
  display: grid;
  margin: 2em;
  margin-left: 11em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 2em 2em 9em 2em;
  grid-gap: 2em;
  z-index: 1;
}

#contacto-titulo {
  grid-area: 1/1/1/3;
  font-size: 2em;
  color: var(--main-bg);
}

#contacto-contenedor-2 {
  display: grid;
  grid-area: 12/3/12/11;
  margin-top: 9.2em;
  margin-right: 9em;
  margin-left: 17.2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 2em 2em 2em auto;
  grid-gap: 2em;
  -webkit-animation: anim1;
  animation: anim1;
  text-align: start;
}

#contacto-2 {
  display: grid;
  grid-area: 11/1/12/5;
  background-color: var(--main-bg);
  margin-left: 7em;
  margin-top: 16em;
  margin-bottom: -30em;
  color: var(--white);
  animation: anim1;
  z-index: 1;
}

#info-contacto-titulo {
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 1.2em;
  margin-right: -3em;
  text-align: center;
}

#info-contacto-2 {
  display: grid;
  grid-area: 12/1/12/3;
  margin-top: 1.6em;
  margin-left: 6em;
  margin-right: 1.5em;
  grid-template-rows: 5em 4em 0;
  text-align: start;
}

#info-iconos {
  display: grid;
  grid-area: 12/1/12/3;
  margin-top: 2em;
  margin-left: 1.2em;
  grid-template-rows: 2.5em 6em 0;
}

#info-iconos-2 {
  display: grid;
  grid-area: 12/1/12/3;
  margin-top: 18em;
  margin-bottom: 6em;
  margin-left: 0.6em;
  margin-right: 7em;
  grid-template-columns: 4em 3em;
}

#icono-linkedin {
  margin-right: 1.5em;
  margin-left: 0.6em;
}

#icono-github {
  margin-right: 1.2em;
}

#contenedor-flecha-2 {
  display: grid;
  grid-area: 12/9/12/9;
  justify-items: center;
  color: var(--white);
  margin-top: 400%;
  margin-left: 57%;
  grid-template-columns: 3em;
  -webkit-animation: anim1;
  animation: anim1;
}