/**reset.css**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

.textarea_1 {
    border: 1px solid #808080;
    border-radius: 2px;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/**especificando el font-size para que ningun navegador lo cambie por defecto**/

html {
    font-size: 16px;
}

/**variables**/

:root {
    --main_bg: #0b2664;
    --white: #fff;
    --black: #000000;
    --big-min: 1.3rem;
    --big-max: 2rem;
    --big-clamped-font-size: clamp(var(--big-min), 1.5vw, var(--big-max));
    --bigger-min: 1.5rem;
    --bigger-max: 2.5rem;
    --bigger-clamped-font-size: clamp(
        var(--bigger-min),
        3.5vw,
        var(--bigger-max)
    );
    --biggest-min: 1.7rem;
    --biggest-max: 3rem;
    --biggest-clamped-font-size: clamp(
        var(--biggest-min),
        4vw,
        var(--biggest-max)
    );
}

img {
    width: 6vh;
}

body {
    font: clamp(1rem, 1vw, 2rem) / 1.5rem Helvetica serif;
    place-items: center;
    line-height: 1;
    text-align: center;
    perspective: 70vw;
    background-color: var(--black);
    overflow: hidden;
    scrollbar-color: var(--main_bg) var(--white);
    color: var(--white);
    letter-spacing: 0.1vw;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, var(--black), #155bff);
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #8a2be2;
}

.hide_navbar:hover,
.hide_navmenu:hover,
.paginas:hover,
.navbar:hover {
    cursor: pointer;
    -webkit-animation: rotar 1.5s infinite;
    animation: rotar 1.5s infinite;
}

@-webkit-keyframes rotar {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes anim1 {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anim1 {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav_scrolled {
    color: rgb(66, 189, 219);
    border-bottom: 4px solid rgb(66, 189, 219);
    padding-bottom: 4px;
}

.hide_menu {
    top: 25%;
    margin: 0 10%;
    position: fixed;
    width: 50%;
    z-index: -100;
}

.hide_menu2 {
    height: auto;
    width: 100%;
    z-index: -100;
    padding: 3rem;
    background-color: var(--main_bg);
    border: 0.3rem solid var(--white);
    border-radius: 1rem;
}

.hide_navbar {
    width: 15%;
    margin: auto;
    margin-top: 10%;
}

.hide_navmenu {
    font-size: var(--big-clamped-font-size);
    margin: 10%;
    transition: 0.2s ease all;
    text-align: center;
}

.contenedor {
    display: grid;
    transition: transform 0.5s;
    overflow-y: scroll;
    max-height: 100vh;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: 80px repeat(4, minmax(600px, auto));
}

.contenedor.is_flipped {
    transform: translate(-100%);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.header_contenedor {
    display: grid;
    grid-column: 1 / -1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 212, 255, 1) 0%,
        rgba(9, 23, 121, 1) 100%
    );
    z-index: 100;
    font-size: var(--big-clamped-font-size);
    grid-template-columns: repeat(5, auto);
    place-content: center;
    column-gap: 1rem;
}

.navbar {
    display: none;
}

.navbar_line {
    padding: 3px 15px;
    background: var(--white);
    margin: 3px 0;
    border-radius: 1.5rem;
}

.pagina_intro {
    display: grid;
    grid-area: 2/1/2/-1;
    grid-template-rows: repeat(10, 1fr);
    background: url(./imagenes/intro_imagen.jpg) no-repeat;
    background-size: 100% 100%;
}

.intro_titulo {
    grid-area: 3/1/3/-1;
    -webkit-box-align: center;
    place-items: center;
    font-size: var(--biggest-clamped-font-size);
    -webkit-animation: anim1;
    animation: anim1;
}

.intro_titulo_sub {
    grid-area: 5/1/5/-1;
    -webkit-box-align: end;
    place-items: end center;
    font-size: var(--bigger-clamped-font-size);
    -webkit-animation: anim1;
    animation: anim1;
}

.contenedor_flecha_abajo {
    display: grid;
    grid-area: 7/1/11/-1;
    font-size: var(--bigger-clamped-font-size);
    justify-items: center;
    color: var(--white);
}

.flecha {
    display: grid;
    grid-template-columns: 3rem;
    cursor: pointer;
    transform: rotate(180deg);
}

.pagina_proyectos {
    display: grid;
    grid-area: 3/1/3/-1;
    grid-template-rows: repeat(10, 1fr);
    place-items: center;
    background-color: var(--black);
    overflow: hidden;
}

.swiper-container {
    display: grid;
    grid-row: 1 / 11;
    place-self: center;
    width: 100%;
    height: 55vh;
}

.card_text {
    place-self: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--white);
}

.swiper-slide {
    display: grid;
    width: 20%;
    height: 85%;
    background: var(--main_bg);
    border: 0.3rem solid var(--main_bg);
    border-radius: 1rem;
    box-sizing: border-box;
}

.swiper-pagination {
    background-color: var(--main_bg);
    padding: 1%;
}

.card_image,
.figma_img {
    background: url(./imagenes/imagen_Git_Hub.jpg) no-repeat;
    background-size: 100% 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.figma_img {
    background: url(./imagenes/imagen_figma_project_page_1.jpg) no-repeat;
    background-size: 100% 100%;
}

.scroll_to_perfil {
    grid-row: 9;
}

.pagina_acerca_de_mi {
    display: grid;
    background-color: var(--black);
    grid-area: 4/1/4/-1;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    row-gap: 1rem;
}

.perfil_nombre {
    grid-area: 1/2/1/-2;
    font-size: var(--bigger-clamped-font-size);
}

.perfil_texto {
    grid-area: 2/2/2/-2;
    -webkit-animation: anim1;
    animation: anim1;
    place-self: center;
}

.lenguajes_titulo_1,
.lenguajes_titulo_idioma,
.lenguajes_titulo_link {
    font-size: var(--big-clamped-font-size);
}

.contenedor_lenguajes {
    display: grid;
    grid-area: 3/1/3/-1;
    -webkit-box-align: center;
    place-self: center;
    text-align: start;
    line-height: 1.5rem;
    gap: 1rem;
}

.contenedor_lenguajes_2 {
    grid-area: 4/1/4/-1;
    line-height: 1.5rem;
}

.lenguajes_titulo_1 {
    grid-column: 1 / 4;
    justify-self: center;
}

.pagina_contacto {
    background: url(./imagenes/imagen_contacto.jpg) no-repeat;
    background-size: 100% 100% cover;
    display: grid;
    grid-area: 5/1/5/-1;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.scroll_to_contacto {
    grid-row: 4;
    margin-top: 60px;
}

.form_contenedor {
    display: grid;
    grid-area: 2/4/10/-3;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 40% auto 2rem;
    background-color: var(--white);
}

.form {
    display: grid;
    grid-area: 2/2/10/2;
    background-color: var(--white);
    grid-template-rows: repeat(12, 1fr);
    color: var(--black);
}

.form div {
    grid-row: 1;
    font-size: var(--big-clamped-font-size);
    color: var(--main_bg);
}

.form label {
    color: var(--black);
    align-self: end;
    text-align: start;
}

textarea {
    width: 100%;
    height: 300%;
    resize: none;
}

.form_boton_enviar {
    grid-area: 13/1/13/1;
    background-color: var(--main_bg);
    border: none;
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
    margin: 0 3rem;
    padding: 0.5rem 0;
}

.contacto_info {
    display: grid;
    grid-area: 2/3/10/6;
    grid-template: 2% repeat(5, 1fr) 2% / 2% 20% auto 2%;
    background-color: var(--main_bg);
    -webkit-animation: anim1;
    animation: anim1;
    z-index: 2;
    place-items: center / start;
    text-align: start;
    margin: 5% 20% 5% -20%;
}

.info_contacto_titulo {
    grid-area: 2/1/2/5;
    text-align: center;
    font-size: var(--big-clamped-font-size);
}

.info_direccion {
    grid-area: 3/3/3/3;
}

.info_email {
    grid-area: 4/3/4/3;
    align-items: start;
}

.info_telefono {
    grid-area: 5/3/5/3;
}

.icono_direccion {
    grid-area: 3/2/3/2;
}

.icono_email {
    grid-area: 4/2/4/2;
}

.icono_telefono {
    grid-area: 5/2/5/2;
}

.icono_linkedin {
    grid-area: 6/2/6/2;
}

.icono_github {
    grid-area: 6/3/6/3;
}

.contenedor_flecha_arriba {
    display: grid;
    grid-area: 9/10/9/-2;
    -webkit-animation: anim1;
    animation: anim1;
    cursor: pointer;
}

@media (max-width: 730px) {
    .contenedor {
        grid-template-rows: 80px repeat(3, minmax(600px, auto)) 1000px;
    }

    .pagina_contacto {
        grid-template: repeat(2, 1fr) / repeat(10, 1fr);
        row-gap: 2rem;
    }

    .form_contenedor {
        grid-row: 2;
        grid-template-columns: 5% auto 5%;
        grid-column: 2 / -2;
        margin-bottom: 2rem;
    }

    .contacto_info {
        grid-row: 1;
        grid-column: 2/-2;
        place-content: center;
        margin: 0;
    }

    .contenedor_flecha_arriba {
        display: none;
    }
}

@media (max-width: 450px) {
    .navbar {
        display: block;
        grid-column: 5;
    }

    .paginas {
        display: none;
    }

    .pagina1_link {
        display: block;
        grid-column: 1;
    }
}
