/**reset.css**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

textarea, input {
  border: 1px solid #808080;
  border-radius: 2px;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}


:root{
  --main_bg: #0b2664;
  --white: #fff; 
  --black: #000000;
}


html {
  height: 100%;
  font: 16px
}
        
body {
  height: 100%;
  font: clamp(1rem, 1.5vw, 2rem) / 1.5rem Helvetica serif ;
  place-items: center;
  line-height: 1;
  text-align: center;
  perspective: 70vw;
  background-color: var(--black);
  overflow: hidden;
  scrollbar-color: var(--main_bg) var(--white);
  color: var(--white);
  letter-spacing: 0.1vw;
}

::-webkit-scrollbar {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, var(--black), #155bff);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #8a2be2;
}

#hide_navbar:hover, .hide_navmenu:hover, .paginas:hover, #navbar:hover {
  cursor: pointer;
  -webkit-animation: rotar 1.5s infinite;
  animation: rotar 1.5s infinite;
}

@-webkit-keyframes rotar {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(5deg);}
  40% {transform: rotate(-10deg);}
  60% {transform: rotate(10deg);}
  80% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes rotar {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(5deg);}
  40% {transform: rotate(-10deg);}
  60% {transform: rotate(10deg);}
  80% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes anim1 {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to  {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to  {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav_scrolled {
  color: rgb(66, 189, 219);
  border-bottom: 4px solid rgb(66, 189, 219);
  padding-bottom: 4px;
}

#hide_menu {
  top: 19.5%;
  right: 0;
  position: fixed;
  width: 40%;
  z-index: -100;
}

#hide_menu2 {
  top: 10%;
  height: auto;
  width: 50%;
  z-index: -100;
  background-color: var(--main_bg);
  border: 0.3rem solid var(--white);
  border-radius: 1rem;
}

#hide_navbar { 
  width: 15%;
  margin: auto;
}

.hide_navmenu {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin: 10%;
  transition: .2s ease all;
  text-align: center;
}

#contenedor {
  display: grid;
  overflow-y: scroll;
  transition: transform 0.5s;
  height: 100%;
  grid-template: 10% repeat(4, 91%)
                 / 2% repeat(8, 1fr) 2%;
}

#contenedor.is_flipped {
  transform: translate(-50%);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

#header_contenedor {
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--main_bg);
  grid-area: 1/1/1/11;
  z-index: 100;
}

#header_contenedor_2 {
  display: grid;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
  margin:auto;
}

svg {
  margin: auto;
}

#navbar { 
  width: 100%;
  margin: 0 1.4rem 0 0.3rem;
}

.navbar_line {
  height: 0.38rem;
  background: var(--white);
  margin: 7px 0px;
  border-radius: 1.5rem;
}

#pagina_intro {
  display: grid;
  grid-area: 2/1/2/11;
  grid-template-rows: 34% 43% 13%;
  background: url(https://i.ibb.co/cL1VLkb/wallpaper-797205.jpg) no-repeat;
  background-size:100% 100%;
}

#intro_titulo {
  display: grid;
  grid-area: 1/1/1/11;
  -webkit-box-align: center;
  place-items: center;
  font-size: clamp(1.7rem, 4vw, 3rem);
  margin: 0 1rem;
  z-index: 1;
  -webkit-animation: anim1;
  animation: anim1;
}

#intro_titulo_sub {
  display: grid;
  grid-area: 1/1/1/11;
  -webkit-box-align: end;
  place-items: end center;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  z-index:1;
  -webkit-animation: anim1;
  animation: anim1;
}

#contenedor_flecha_abajo {
  display: grid;
  grid-area: 3/1/3/11;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  justify-items: center;
  color: var(--white);
}

#flecha {
  display: grid;
  grid-template-columns: 3rem;
  cursor: pointer;
}

#texto_flecha {
  display: grid;
  margin: 0.8rem 0.8rem 2.8rem 0;
}

.pagina_proyectos {
  display: grid;
  grid-area: 3/1/3/11;
  grid-template-rows: 20% 60% 10%;
  place-items: center;
  background-color: var(--black);
  overflow: hidden;
}

#scroll_to_proyectos {
  grid-row: 1;
  margin-bottom: 25%;
}

.swiper-container {
  display: grid;
  grid-row: 2;
  width: 100%;
  height: 60vh;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--white);
}

.swiper-slide {
  display: grid;
  width: 20%;
  height: 85%;
  border-radius: 1rem;
  background: var(--main_bg);
  place-items: center;
  border: 0.3rem solid var(--main_bg);
  border-radius: 1rem;
  box-sizing: border-box;
}

.swiper-pagination {
  background-color: var(--main_bg);
  padding: 1%;
}

.card_image {
  background: url(https://i.ibb.co/LnsrZr3/Sin-t-tulo-1.jpg) no-repeat;
  background-size:100% 100%;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#figma_img {
  background: url(https://i.ibb.co/NKMcbjt/figma-project-page-0001.jpg) no-repeat;
  background-size:100% 100%;
}

#github_img {
  background: url(https://i.ibb.co/YNbscX1/Git-Hub-min.jpg) no-repeat;
  background-size:100% 100%;
}

#scroll_to_perfil {
  grid-row: 3;
  margin-top: 6%;
}

#pagina_acerca_de_mi {
  display: grid;
  background-color: var(--black);
  grid-area: 4/1/4/11;
  grid-template: 4% 8% 44% 4% / repeat(10, 1fr) ;
  line-height: 130%;
}

#perfil_nombre {
  grid-area: 2/1/2/11;
  place-items: center;
  font-size: clamp(1.5rem, 2.3vw, 2rem);
}

#perfil_texto {
  display: grid;
  grid-area: 3/3/3/9;
  place-items: center;
  -webkit-animation: anim1; 
  animation: anim1;
}

#contenedor_lenguajes {
  display: grid;
  grid-area: 5/1/5/11;
  grid-template: 3rem 4.5rem 3rem 2rem / repeat(6, 1fr);
  margin: 0 2%;
  -webkit-box-align: center;
  place-items: start center;
}

#lenguajes_titulo_1, #lenguajes_titulo_idioma, #lenguajes_titulo_link {
  font-size: clamp(1.5rem, 2.3vw, 2rem);
}

#lenguajes_titulo_1 {
  grid-area: 1/2/1/5;
}

#lenguajes_1 {
  grid-area: 2/2/4/2;
}

#lenguajes_2 {
  grid-area: 2/3/4/3;
}

#lenguajes_3 {
  grid-area: 2/4/4/4;
}

#lenguajes_titulo_idioma {
  grid-area: 1/5/1/5;
}

#lenguajes_idioma {
  grid-area: 2/5/2/5;
}

#lenguajes_titulo_link{
  grid-area: 3/5/3/5;
}

#certificados_link {
  grid-area: 4/5/4/5;
  margin: 0 40%;
}

#pagina_contacto {
  background: url(https://i.ibb.co/LnsrZr3/Sin-t-tulo-1.jpg) no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-area: 5/1/5/11;
  grid-template: 10% 80% 3% / 10% 12% 13% 14% 5% 25% 10% 3.5% 5%;
}

#scroll_to_contacto {
  grid-row: 1;
  margin: 5% 0 25% 0;
}

#form_contenedor {
  display: grid;
  grid-area: 2/3/2/8;
  background-color: var(--white);
  align-items: center;
}

#form {
  display: grid;
  grid-column: 4;
  margin: 2rem;
  grid-template: repeat(9, 2rem) 5rem 2rem / 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  z-index: 1;
  color: var(--black);
}

#contacto_titulo {
  grid-area: 1/1/1/3;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  color: var(--main_bg);
}

.form_guias {
  display: grid;
  color: black;
  place-items: end start;
}

textarea {
  width: 214.35%;
  height: 450%;
  resize: none;
}

#form_boton_enviar {
  display: grid;
  grid-area: 11/1/11/1;
  background-color: var(--main_bg);
  border: none;
  border-radius: 1rem;
  color: var(--white);
  cursor: pointer;
  margin-right: 6rem;
}

#contacto_info {
  display: grid;
  grid-area: 2/2/2/4;
  grid-template: 0.2rem repeat(4, 3rem) 4.5rem 2rem / 0.3rem 3rem 10rem;
  grid-gap: 1rem 0.5rem;
  background-color: var(--main_bg);
  margin: 1.5rem -10% 1.5rem 0;
  -webkit-animation: anim1;
  animation: anim1;
  z-index: 10;
  place-items: center / start;
  text-align: start;
}

#info_contacto_titulo {
  grid-area: 2/1/2/5;
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

#info_direccion {
  grid-area: 3/3/3/4;
}

#info_email {
  grid-area: 4/3/4/4;
  align-items: start;
  margin-top: 0.3rem;
}

#info_telefono {
  grid-area: 5/3/5/4; 
  margin-top: 0.2rem;
}

#icono_direccion {
  grid-area: 3/2/3/2;
}

#icono_email {
  grid-area: 4/2/4/2;
}

#icono_telefono {
  grid-area: 5/2/5/2; 
}

#icono_linkedin {
  grid-area: 7/2/7/2;
  margin-right: 30%;
}

#icono_github {
  grid-area: 7/3/7/3;
  margin-right: 80%;
}

#contenedor_flecha_arriba {
  display: grid;
  grid-area: 3/9/3/9;
  -webkit-animation: anim1;
  animation: anim1;
  cursor: pointer;
}

@media screen and (max-width: 900px) {

  #contenedor {
    grid-template: 10% repeat(3, 91%) 130%
                   / 2% repeat(8, 1fr) 2%;
  }

  #form_contenedor {
    display: grid;
    grid-area: 2/3/2/8;
    padding: 0 0 0 12.5rem;
  }

  #contacto_info {
    margin: 1.5rem -10% 1.5rem 0;
    padding: 0 15rem 0 0;
  }

  #form {
    display: grid;
    grid-column: 1;
    margin: 2rem 2rem 2rem -6%;
    grid-template: repeat(17, 2rem) 5rem 2rem / 100%;
  }

  #form_guia_nombre {
    display: grid;
    grid-area: 2/1/2/1;
  }

  #form_guia_email {
    display: grid;
    grid-area: 4/1/4/1;
  }

  #form_nombre {
    display: grid;
    grid-area: 3/1/3/1;
  }

  #form_email {
    display: grid;
    grid-area: 5/1/5/1;
  }
  #form_guia_asunto {
    display: grid;
    grid-area: 8/1/8/1;
  }
  #form_guia_telefono {
    display: grid;
    grid-area: 6/1/6/1;
  }
  #form_asunto {
    display: grid;
    grid-area: 9/1/9/1;
  }
  #form_telefono {
    display: grid;
    grid-area: 7/1/7/1;
  }

  #form_guia_consulta {
    display: grid;
    grid-area: 10/1/10/1;
  }

  textarea {
    display: grid;
    grid-area: 11/1/11/1;
    width: 99%;
    height: 460%;
    resize: none;
  }

  #form_boton_enviar {
    display: grid;
    grid-area: 17/1/17/1;
  }

  #contenedor_flecha_arriba {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  textarea {
    width: 98.5%;
  }
}

@media screen and (max-width: 644px) {

  #contenedor {
    grid-template: 10% repeat(2, 91%) 100% 240%
                   / 2% repeat(8, 1fr) 2%;
  }

  #scroll_to_contacto {
    margin-top: 0;
  }

  #pagina_acerca_de_mi {
    grid-template: 0% 6% 42% 4% / repeat(10, 1fr) ;
  }

  #pagina_contacto {
    grid-template: 10% 34% 56% 3% / 10% 12% 13% 14% 5% 25% 10% 3.5% 5%;
  }

  #form_contenedor {
    display: grid;
    grid-area: 3/1/3/11;
    padding: 0 1.6rem 0 0;
    margin: 0 20% 20% 20%;
    place-items: center;
  }

  #contacto_titulo {
    grid-area: 1/1/1/1;
  }

  #form {
    display: grid;
    grid-column: 1;
    margin: 2rem 0.4rem 2rem 2rem;
  }

  textarea {
    width: 97.5%;
  }

  #contacto_info {
    grid-area: 2/1/2/11;
    margin: 0 20% 10% 20%;
    padding: 0;
    place-items: center;
  }

  #info_direccion {
    margin-right: 7%;
  }

  #info_telefono {
    margin-right: 35%;
  }

  #icono_linkedin {
    margin-bottom: 5rem;
  }

  #icono_github {
    margin-bottom: 5rem;
  }
  
}

@media screen and (max-width: 500px) {

  #contenedor {
    grid-template: 13% repeat(2, 91%) 186% 240%
                   / 2% repeat(8, 1fr) 2%;
  }

  #contenedor.is_flipped {
    transform: translate(-100%);
  }

  #hide_menu {
    vertical-align: center;
    right: -54%;
    width: 140%;
  }

  #pagina2_link, #pagina3_link, #pagina4_link {
    display: none;
  }

  #header_contenedor_2 {
    grid-template-columns: 17% 65% 10%;
    margin: 1rem;
  }

  #navbar { 
  grid-column: 3;
  width: 100%;
  margin: 0 2.4rem 0 0.3rem;
}

.navbar_line {
  height: 0.38rem;
  background: var(--white);
  margin: 7px 0px;
  border-radius: 1.5rem;
}

  .nav_scrolled {
    margin-bottom: 3%;
  }

  #pagina1_link {
    margin-right: 0%;
  }

  #pagina_acerca_de_mi {
    grid-template: 0% 6% 30% 4% / repeat(10, 1fr) ;
  }

  #contenedor_lenguajes {
    display: grid;
    grid-area: 5/1/5/11;
    grid-template: 3rem 4.5rem 3rem 2rem 4rem 3rem 4.5rem 1rem 3rem 4.5rem / repeat(3, 1fr);
    margin: 0 2%;
    -webkit-box-align: center;
    place-items: start center;
  }

  #lenguajes_titulo_1 {
    grid-area: 1/1/1/5;
  }
  
  #lenguajes_1 {
    grid-area: 2/3/4/3;
  }
  
  #lenguajes_2 {
    grid-area: 2/2/4/2;
  }
  
  #lenguajes_3 {
    grid-area: 2/1/4/1
  }

  #lenguajes_titulo_idioma {
    grid-area: 6/1/6/5;
  }
  
  #lenguajes_idioma {
    grid-area: 7/1/7/5;
  }
  
  #lenguajes_titulo_link{
    grid-area: 9/1/9/5;
  }
  
  #certificados_link {
    grid-area: 10/1/10/5;
    margin: 0 45% 0 40%;
    width: 15%;
  }

  #form_contenedor {
    margin: 0 10% 20% 10%;
  }

  #contacto_info {
    margin: 0 10% 10% 10%;
  }
}